In [1]:
import pandas as pd

In [13]:
pop_pd = pd.read_csv("https://raw.githubusercontent.com/bladnman/datasets/main/data/population_by_country.csv")

In [14]:
pop_pd

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0,NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1807106.0,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1775378.0,NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,...,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0,NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,...,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0,NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,...,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0,NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,...,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0,NaN

In [17]:
df = pd.read_html("https://www.iban.com/country-codes")[0]

In [24]:
df.to_csv("country_codes.csv", index=False)

In [49]:
pop_df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0,NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0,NaN

In [50]:
# codes_df['Country Code'] = codes_df['Alpha-2 code']

In [51]:
codes_df.head(3)

         Country Alpha-2 code Alpha-3 code  Numeric
0    Afghanistan           AF          AFG        4
1  Åland Islands           AX          ALA      248
2        Albania           AL          ALB        8

In [95]:
pop_df = pd.read_csv("./datasets/data/world/population_by_country.csv")
codes_df = pd.read_csv("./datasets/data/world/country_code_mapping.csv")

pop2_df = pd.merge(pop_df, codes_df, left_on='Country Code', right_on='Alpha-3 code', how = 'left')
pop2_df['Code'] = pop2_df['Alpha-2 code'].astype(str)
pop2_df['Code3'] = pop2_df['Country Code'].astype(str)
pop2_df['Name'] = pop2_df['Country Name'].astype(str)
pop2_df.drop(['Alpha-3 code', 'Country', 'Country Code', 'Country Name', 'Unnamed: 65', 'Indicator Name', 'Indicator Code', 'Alpha-2 code', 'Numeric'], axis=1, inplace=True)
# remove nulls
pop2_df.dropna(subset=['1960'], inplace=True)
pop2_df.dropna(subset=['2019'], inplace=True)
pop2_df = pop2_df[pop2_df['Code'] != "nan"]

# reorder the columns
pop2_df.insert(0, 'Code3', pop2_df.pop("Code3"))
pop2_df.insert(0, 'Code', pop2_df.pop("Code"))
pop2_df.insert(0, 'Name', pop2_df.pop("Name"))

pop2_df.to_csv("./datasets/data/world/population_by_country.csv", index=False)

In [93]:
# pop2_df['1960'] = pop2_df['1960'].astype(int)
pop2_df

,Name,Code,Code3,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,AW,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
2,Afghanistan,AF,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
4,Angola,AO,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
5,Albania,AL,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
6,Andorra,AD,AND,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,19646.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WS,WSM,108627.0,112112.0,115768.0,119552.0,123346.0,127055.0,130672.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,198410.0
262,"Yemen, Rep.",YE,YEM,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,5816241.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
263,South Africa,ZA,ZAF,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,19888259.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
264,Zambia,ZM,ZMB,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,3681953.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
265,Zimbabwe,ZW,ZWE,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,4623340.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [90]:
pop2_df.insert(0, 'Code3', pop2_df.pop("Code3"))
pop2_df.insert(0, 'Code', pop2_df.pop("Code"))
pop2_df.insert(0, 'Country Name', pop2_df.pop("Country Name"))

In [91]:
pop2_df

,Country Name,Code,Code3,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,AW,ABW,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
2,Afghanistan,AF,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
4,Angola,AO,AGO,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0
5,Albania,AL,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,...,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837743.0
6,Andorra,AD,AND,13410.0,14378.0,15379.0,16407.0,17466.0,18542.0,19646.0,...,83748.0,82427.0,80770.0,79213.0,77993.0,77295.0,76997.0,77008.0,77146.0,77265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WS,WSM,108627.0,112112.0,115768.0,119552.0,123346.0,127055.0,130672.0,...,187469.0,189089.0,190712.0,192220.0,193510.0,194540.0,195358.0,196128.0,197093.0,198410.0
262,"Yemen, Rep.",YE,YEM,5315351.0,5393034.0,5473671.0,5556767.0,5641598.0,5727745.0,5816241.0,...,23807586.0,24473176.0,25147112.0,25823488.0,26497881.0,27168210.0,27834811.0,28498683.0,29161922.0,29825968.0
263,South Africa,ZA,ZAF,17099836.0,17524533.0,17965733.0,18423157.0,18896303.0,19384838.0,19888259.0,...,52003759.0,52832659.0,53687125.0,54544184.0,55386369.0,56207649.0,57009751.0,57792520.0,58558267.0,59308690.0
264,Zambia,ZM,ZMB,3070780.0,3164330.0,3260645.0,3360099.0,3463211.0,3570466.0,3681953.0,...,14023199.0,14465148.0,14926551.0,15399793.0,15879370.0,16363449.0,16853608.0,17351714.0,17861034.0,18383956.0
265,Zimbabwe,ZW,ZWE,3776679.0,3905038.0,4039209.0,4178726.0,4322854.0,4471178.0,4623340.0,...,12894323.0,13115149.0,13350378.0,13586710.0,13814642.0,14030338.0,14236599.0,14438812.0,14645473.0,14862927.0

In [74]:
pop2_df.dropna(subset=['2019'], inplace=True)